[Unit]
Description=Albion killboard bot

[Service]
ExecStart=.../albion-killbot/systemd.js
Restart=always
User=se
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=se
Environment=PATH=/usr/local/bin:/usr/bin
Environment=NODE_ENV=production
WorkingDirectory=.../albion-killbot

[Install]
WantedBy=multi-user.target
